<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h2>The number of people are <%= result[0]["count(*)"] %></h2>
    <button>Join us today!</button>
    <a href="http://localhost:8080/user"><button>See all the users of out website</button>
    </a>
</body>
</html>