<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit post</title>
</head>
<body>
    <form method="POST" action="/posts/<%=a.id%>/edits?_method=PATCH">
        <h1>Your id <%= a.id %></h1>
        <h3>Your name <%= a.username %></h3>
        <br><br>
        <textarea name="content"><%= a.content %></textarea>
        <br><br>
        <button type="submit">submit</button>
    </form>

</body>
</html>