<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your post</title>
</head>
<body>
    <h1>Your id <%= a.id %></h1>
    <h3>Your name <%= a.username %></h3>
    <h5>Your content <%= a.content %></h5>
</body>
</html>