<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dice roll</title>
</head>
<body>
    <h1>Your dice number is <%= random %></h1>
    <% if(random==6) { %>
        <h2>You can roll again</h2>
    <% } else { %>
     <h2>Pass to next person</h2>
    <% }%>
</body>
</html>
