.container{
    height: 300px;
    width: 600px;
    background-color: azure;
    display: grid;
    border: 1px dashed black;
    /* grid-template-rows: 100px 100px 100px 100px 100px;
    grid-template-columns: 200px 200px 200px; */
    /* grid-template-rows: repeat(5,1fr); */
    /* grid-template-rows:  1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(3,1fr);
    row-gap: 10px;
    grid-gap: 20px;
    grid-gap: 10px 20px; */
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5,1fr);
    grid-gap: 10px 10px;

    /* justify-items: center;
    align-items: end; */
    place-items: center;
}

.item{
    height: 50px;
    width: 100px;
    border: 2px solid black;
    background-color: yellowgreen;

    text-align:center;
    transition: ease-in-out;
    transition-duration: 1s;
    transition-delay: 0.2s;
}
.item:hover{
    box-shadow: 10px 10px 30px black,-10px -10px 30px white;
}

#box1{
    /* grid-column-start: 1;
    grid-column-end: 3; */
    /* grid-column: 1/4;
    grid-row: 1/4; */
    grid-column: 1/4;
    grid-row: 1/4;
    justify-self: start;
    place-self: end;
}