<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New post</title>
</head>
<body>
    <form action="/posts" method="post">
        <input type="text" name="username" placeholder="Enter your name">
        <br><br>
        <textarea name="content" placeholder="Share your thoughts"></textarea>
        <br><br>
        <button type="submit">submit</button>
    </form>
</body>
</html>