div {
    height: 200px;
    width: 300px;
    border-width: 2px;
    border: double;
    border-color: red;
    border-radius: 15px;
    text-align: justify;
    border-top-right-radius: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 30px;

}
h1{
    border: 2px double hotpink;
    border-top: 4px dashed red;
}
button{
    border: 3px double red;
    border-radius: 30px;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
}
