*{
    font-family: 'Courier New';
}
h1{
    color: #1b74e4;
}

button{
    background-color: aqua;
}

#searchbtn{
    color: white;
    background-color: black;
}

#searchbtn:hover{
    color: black;
    background-color: white;
}
