<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit username</title>
</head>
<body>
<h1>Email of the user <%= user.email %></h1>
 <h2>Edit the user name here</h2>
 <form method="POST" action="/user/edit/<%=user.id%>?_method=PATCH">
    <br><br>
    <textarea name="username"><%= user.username%></textarea>
    <br><br>
    <input type="password" name="password" placeholder="enter your password">
    <button type="submit">edit</button>
</form>
</body>
</html>