h1{
    background-color: yellow;
    border: 2px solid black;
    text-align: center;
}

/* @media (max-width:400px){
    h1{
        background-color: red;
    }
} */
 @media(min-width:100px) and (max-width:600px){
    h1{
        background-color: green;
        
    }
} 

@media (orientation:landscape){
    h1{
        background-color: aqua;
    }
}