//There are bunch of tags in ejs.co
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="main-box">
        <div class="write">
            //here like this you can use
            <p>The answer of 2*2 is <%=2*2%></p>
        <div class="buttons">
            <button>Show More</button>
            <button>Like This</button>
        </div>
    </div>
<script src="app.js"></script>
</body>
</html>