//here at first in the views i have to make a file called includes
//then i have to make a sub ejs can be anything which i will use frequently
//like header.ejs or footer.ejs
//then i can add that ejs file to that files which are in the views folder
//like this <%- include("includes/footer.ejs") %>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>error</title>
</head>
<body>
        <h1>No data</h1>
        //here footer added by include
        <%- include("includes/footer.ejs") %>
</body>
</html>
